GP/.gradle/vcs-1/gc.properties
GP/.gradle/8.12.1/gc.properties
GP/.gradle/8.12.1/checksums/checksums.lock
GP/.gradle/8.12.1/executionHistory/executionHistory.bin
GP/.gradle/8.12.1/executionHistory/executionHistory.lock
GP/.gradle/8.12.1/fileChanges/last-build.bin
GP/.gradle/8.12.1/fileHashes/fileHashes.bin
GP/.gradle/8.12.1/fileHashes/fileHashes.lock
GP/.gradle/8.12.1/fileHashes/resourceHashesCache.bin
GP/.gradle/buildOutputCleanup/buildOutputCleanup.lock
GP/.gradle/buildOutputCleanup/cache.properties
GP/.gradle/buildOutputCleanup/outputFiles.bin
GP/assets/assets.txt
GP/build/reports/problems/problems-report.html
GP/core/build/tmp/compileJava/previous-compilation-data.bin
GP/lwjgl3/build/resources/main/assets.txt
GP/lwjgl3/build/resources/main/assets.txt
GP/core/build/tmp/compileJava/previous-compilation-data.bin
GP/assets/assets.txt
GP/build/reports/problems/problems-report.html
GP/lwjgl3/build/resources/main/assets.txt
GP/core/build/tmp/compileJava/previous-compilation-data.bin
GP/build/reports/problems/problems-report.html
GP/assets/assets.txt
GP/build/reports/problems/problems-report.html
GP/assets/assets.txt
GP/assets/assets.txt
GP/assets/assets.txt
GP/assets/assets.txt
GP/lwjgl3/build/resources/main/assets.txt
